@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

body > #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 30px;
    z-index: 9;
}

main {
    /* Чтобы занимал оставшееся пространство */
    flex-grow: 1;

}

footer {
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;

}

p {
    margin-bottom: 15px;
}

p strong,
p b {
    font-weight: bold;
}

.btn-green {
    background: linear-gradient(117.65deg, #1C8E00 19.25%, #D6F578 89.5%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 275px;
    height: 48px;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    display: block;
    margin: auto;
}

.ho2 {
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
}

.po2 {
    font-weight: 300;
    font-size: 22px;
}

.list_blog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    align-items: stretch;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.list_blog_li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.list_blog_a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

.list_blog_a:hover {
    color: #EA511B;
}

.header_blog {
    overflow: hidden;
    position: relative;
    height: 385px;
    background: rgb(0, 0, 0, 0.67);
}

.header_blog > img {
    z-index: -1;
}

.header_blog > .auto_center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    color: white;
}

.glavnay_po_caravanu .gallary {
    grid-area: gallary;
    overflow: auto;
}

.glavnay_po_caravanu .opisaniye {
    grid-area: opisaniye;
    overflow: auto;
    justify-self: center;
    align-self: center;
}


.glavnay_po_caravanu .cena {
    grid-area: cena;
    overflow: auto;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.block-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.block-filter > .search input {
    min-height: 40px;
    min-width: 256px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}

.block-filter > .vin input {
    min-height: 40px;
    max-width: 150px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}

.block-filter select {
    min-height: 40px;
    min-width: 162px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}