.Row {
    display: flex;
    align-items: center;
}

.Column {
    display: flex;
    flex-direction: column;

}


/*//////////////////*/

.main {
    margin-top: 130px;
}

.topheader {

}

.topcaravan {
}

.iconka {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pmr5 p {
    margin: 5px 0;
    font-weight: 500;
    font-size: 20px;
}

.statusN {
    background: linear-gradient(117.65deg, #1C8E00 19.25%, #D6F578 89.5%);
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 10px;
    gap: 10px;
}

.statusP {
    background: linear-gradient(135deg, #910000 0%, #F20000 100%);
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 10px;
    gap: 10px;
}

.statusZ {
    background: linear-gradient(132.63deg, #DDC702 0.12%, #EDF578 96.78%);
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 10px;
    gap: 10px;
}

.statusV {
    background: linear-gradient(117.65deg, #1C8E00 19.25%, #D6F578 89.5%);
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 10px;
    gap: 10px;
}

.statusPZ {
    background: linear-gradient(135deg, #828282 0%, #B3B3B3 100%);
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 3px;
    padding: 0 10px;
    gap: 10px;
}

.glavnay_po_caravanu {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas:
    "gallary opisaniye"
    "cena cena";
}

.opisaniye ul {
    list-style: none;
    padding: 0;
}


.usualPrice {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin: 0;
}

.salePrice {
    font-weight: 400;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.72);
    margin: 0;
}

.redprice {
    color: #FFFFFF;
    margin: 0;
}

.Sisny {
    background: linear-gradient(90deg, #0F0F1B 0%, rgba(34, 34, 58, 0.55) 100%), #0F0F1B;
    border-radius: 5px;
}

.Cina {
    background: linear-gradient(90deg, #EA511B 0%, #F78E69 96.98%);
    border-radius: 5px;
}

.vin {
    background: #181829;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
}

.imgCarusel {
    width: 100%;
    height: auto !important;
}

.active {
    background: #515A89;
    color: white;
}

@media (max-width: 768px) {
    .glavnay_po_caravanu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        grid-template-areas:
    "gallary"
    "opisaniye";
    }
}



