.menu {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    background: linear-gradient(90deg, #0F0F1B 0%, rgba(34, 34, 58, 0.55) 100%), #0F0F1B;
    border-radius: 10px;
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu nav {
    width: 100%;
}

.whishlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 15px;
}

.logo {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.insideMenu {
    display: flex;
    list-style: none;
    padding: 5px 15px;
    align-items: center;
    gap: 35px;
    justify-content: center;
}

.insideMenu a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

.insideMenu a:hover {
    color: #FC5649;
}

.telefon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 15px 0;
    padding-right: 15px;
}
.MobileMenu{
    display: none;
}