.footer {
    background: linear-gradient(90deg, #0F0F1B 0%, rgba(34, 34, 58, 0.55) 100%), #0F0F1B;
    color: white;
}

.nameFot {
    width: calc(100% / 4);
}

.nameFot h4, .widthKontakt h4 {
    font-weight: 500;
    font-size: 28px;
}

.footer_menu {
    list-style: none;
    padding: 0;
}

.footer_menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 2;
}

.footer_menu a:hover {
    color: #FC5649;
}

.adress {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.telefonchik {
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.map {
    width: calc(100% / 2);
}

.fotme {
    display: flex;
    gap: 20px;
}

.widthKontakt {
    width: calc(100% / 2);
}

.nameKontakt {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.copyrayte {
    border-top: 1px solid;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.copy {
    font-weight: 300;
    font-size: 14px;
    color: white;
}

.apstud {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.copyrayte div {
    width: calc(100% / 2);
}

.small_text {
    font-weight: 300;
    font-size: 10px;
}

.politika {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.flexRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mtopNull{
    margin-top: 0;
}